*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button{
    align-items: center;
    padding: 10px 20px;
    display: flex;
    font-size: 10px;
    font-weight: bold;
    background-color: rgb(226, 43, 128);
    color: aliceblue;
}
button img{
    width: 50%;

}
body{
    display:flex ;

    gap: 10px;
    flex-wrap: wrap;
}
    